* {
    box-sizing: border-box;
  }

body {
    background: linear-gradient(to top, black, darkgrey);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#menu {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#sketchBox {
    display: flex;
    flex-shrink: 0;
    width: 636px;
    height: 636px;
    margin-top: 30px;
    background-image: url("etchASketch.png");
    background-size: contain;
    justify-content: center;
    align-items: center;
    border-radius: 6%;

}

#grid-container {
    position: absolute;
    display: grid;
    width: 480px;
    height: 480px;
    grid-gap: 0px;
    background-color: white;
    /*grid-template-columns: repeat(48, 1fr);
    grid-template-rows: repeat(48, 1fr);*/
    border: 3px solid black;
}

.gridSquare {
    display: flex;
    border: hidden;
    aspect-ratio: 1;
    font-size: 8px;
    justify-content: center;
    align-content: center;
}

/*.gridSquare:hover {
    --background-color: black;
    transition: 20ms;
}*/

.sketchColor {
    background-color: black;
    opacity: 50%;
}